@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

/* Import Roboto Mono from Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;500&display=swap');

/* Global styles */
body {
  margin: 0;
  padding: 0;
  background-color: black;
} 